<div class="story">
    <div class="story-header">
        {{!-- <div class="coversketch"></div> --}}
        <h4><a href="/{{id}}">{{title}}</a></h4>
        
    </div>
    <p>Published :</p>
</div>