

<div class="user">
    <div class="story-header">
        <div id="coversketch"></div>
        <h4><a href="/{{id}}">{{title}}</a></h4>
    </div>
    <p>Published:{{format_date created_at}}</p>
</div>

<script src="/javascript/display-all-covers.js">
</script>