

<div class="user">
    <div class="story-header">
        
        <h4><a href="/{{id}}">{{title}}</a></h4>
    </div>
    <p class="published">Published : {{format_date created_at}}</p>
</div>


</script>