

<div class="story">
    <div class="story-header">
        {{!-- <div class="coversketch"></div> --}}
        <h4><a href="/{{id}}">{{title}}</a></h4>
    </div>
    <p>Published :{{created_at}}</p>
    <div id="coversketch"></div>
</div>

{{!-- <script src="/javascript/display-all-covers.js"> --}}
</script>