<article class="user">
    <div class="user-header">
      <h4><a class="link" href="/user/{{id}}">{{user.username}}</a></h4>
      <p> A loyal author since {{format_date created_at}}</p>
    </div>

    <div>
      <p class="user-about">{{about}}</p>
    </div>
</article>