<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barrio&family=Codystar&family=Homemade+Apple&family=IM+Fell+English+SC&family=Libre+Barcode+128+Text&family=Roboto+Mono:ital,wght@0,300;1,200&family=Turret+Road:wght@300&family=UnifrakturCook:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    {{!-- <script src="../javascript/display-all-covers.js"></script> --}}
    <link rel="stylesheet" href="../stylesheets/styles.css" />
    <title>StoreEZ</title>
  </head>

  <body>
    <!-- top of pg -->
    <header>
        <img src="../assets/storeEZ_2.svg" class="logo">
        <p>self publishing made easy.</p>
     
    </header>
    <!-- top of pg -->

    <!-- navigation  -->
    
    <div class="container-fluid">
      <div class="row">
        <div class="sidenav col-xs-3 col-lg-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">-></button>
            </span>
          </div>
          <ul class="nav nav-pills nav-stacked">
            {{#if loggedIn}}
            <li class="nav-item">
              <button id="logout" class="logout-btn">Logout</button>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/profile">Your Profile</a>
            </li>
            {{else}}
            <li class="login">
              <a href="/login">Login</a>
            </li>
            {{/if}}

            <li class="nav-item">
              <a class="nav-link" href="/authors">Explore Authors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/homepage">Explore Stories</a>
            </li>
          </ul>
         
        </div>
        <!-- navigation -->
        <div class="col-7">{{{ body }}}</div>
      </div>
    </div>
    
    
    

  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
  
  
    {{!-- <script src="/javascript/cover.js"></script> --}}

  </body>
  
    <footer class="d-inline text-center"> 
        <p>Created By : </p>
        <div>
            <a href="https://github.com/jaime-gg"> Jaime Gallegos,</a>
            <a href="https://github.com/ditazan">Dita Zanelli,</a>
            <a href="https://github.com/Autrose22">Autumn Barrios</a>
            <div class="footer-copyright text-center py-3">♥ 2022 Copyright:
                <a href="https://github.com/jaime-gg/storeEZ"/> StoreEz.com</a>
            </div>
        </div>
    </footer>
</html>