<article>
  <a href="/profile"> &larr; Back To Your Profile</a>
  <div class="story">
    <h2 class="story-header">
      Edit Your About 
    </h2>
    
    <form class="edit-about-me-form story-body">
      <label for="about-me" class="form-label">About</label>
      <input name="about-me" type="text" value="{{about_me}}" class="form-input title-input" />


      <button class="button" type="submit">Save About Me</button>
    </form>
  </div>
</article>

<script src="/javascript/edit-about-me.js"></script>
