<article>
  <a href="/profile"> &larr; Back To Your Profile</a>
  <div class="story">
    <h2 class="story-header">
      Edit Your About 
    </h2>
    
    <form class="edit-story-form story-body">
      <label for="story-title" class="form-label">About</label>
      <input name="story-title" type="text" value="{{story.title}}" class="form-input title-input" />


      <button class="button" type="submit">Save story</button>
    </form>
  </div>
</article>

<script src="/javascript/edit-about-me.js"></script>
