<div class=" login-pg">
<form class="log-form forms">
  <div class="bg">
    <label for="email-login">email :</label>
    <input type="text" id="email-login" class=" form-control"/>
  </div>
  <div class="bg">
    <label for="password-login">password :</label>
    <input type="password" id="password-login" class=" form-control" />
  </div>
  <div class="login-pg-btn">
    <button type="submit" class="btn">login</button>
  </div>
</form>

<form class="log-form forms">
  <div class="bg">
    <label for="username-signup">username :</label>
    <input type="text" id="username-signup" class=" form-control" />
  </div>
  <div class="bg">
    <label for="email-signup">email :</label>
    <input type="text" id="email-signup" class=" form-control"/>
  </div>
  <div class="bg">
    <label for="password-signup">password :</label>
    <input type="password" id="password-signup" class=" form-control"/>
  </div>
  <div class="login-pg-btn">
    <button type="submit" class="btn ">signup</button>
  </div>
</form>
</div>
<script src="/javascript/login.js"></script>