<div class="user-list">{{> user-info user}}</div>


<div>
<ol class="story-list">
  {{#each stories as |story|}}
  <li>
    {{> story-info story }}
  </li>
  {{/each}}
</ol>
</div>


<div id="coversketch"></div>
