:root {
  --primary: #d7ffb6;
  --secondary: #d3d3d3;
  --tertiary: #5e5e5e;
  --quaternary: #414141;
  --light: #f8f8f8;
  --dark: #44444400;
}

* {
  box-sizing: border-box;
}

/* MAIN LAYOUT --------------------------------------------------------------------------------------------*/

html body  {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  height:100vh;
  background:var(--light);
}

.logo{
  width:25%;
}

h1{
  font-weight: 600;
}
a {
  text-decoration: none;
  color: var(--light);
  transition: color 0.1s;
}

a:hover {
  color: var(--tertiary);
}



.btn {
  background-color: var(--light);
  color: var(--tertiary);
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--light);
}

.btn:hover {
  background-color: var(--primary);
  border: 1px solid var(--light); 
}

#canvas-div {
  height: 100%;
}

.row.content {
  height: 500px;
}

.sidenav {
  background-color: var(--secondary);
  padding:2%  1%;
  height:100vh;
  font-weight: 600;
  font-size: 100%;
  text-shadow:1px 1px 5px var(--quaternary);
}
.nav{
  margin:7%;
  border-left: 2px solid var(--light);
  box-shadow: -5px 0 5px -5px var(--tertiary);
}
a.nav-link:hover{
text-shadow: none;
}

a.nav-link{
  margin:1%;
}

.log:hover{
  text-shadow: none;
}



.active{
  background: var(--light);
  color: var(--quaternary);
}

.input-group >.form-control {
  background: var(--dark);
  color: var(--light);
  text-shadow:1px 1px 5px var(--tertiary);
  border: 2px solid var(--light);
}

::placeholder{
  text-shadow: none;
}

.input-group{
  box-shadow:1px 1px 5px var(--tertiary);
}

header {
  background: var(--tertiary);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 3% 0 0;
}

header p{
  font-style: italic;
  font-size: 100%;
}

footer {
  background: var(--secondary);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  color:var(--quaternary);
  border-top: 1px dashed var(--light);
}

footer a{
  text-shadow:1px 1px 5px var(--tertiary);
}

footer a:hover {
  color: var(--primary);
}

form label {
  display: block;
}

/* LOGIN PAGE --------------------------------------------------------------------------- */

.login-pg{
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
  align-items:flex-start;
  align-content:start;
  gap: 35px 20px; 
  height:100%;
  padding: 5%;
  color: var(--light);
}

.login-pg button.btn{
  color: #5e5e5e;
  background:#d3d3d3;
}

.login-pg .btn:hover{
 background:var(--primary);
 color: var(--quaternary);
 
 border: 1px solid var(--secondary);
}

.forms{

  flex:1;
  border-radius: 5px;

}

.log-form{
  display:flex;
  flex-flow:column;
  align-items:center;
  justify-content: space-around;
  gap: 20px 30px; 
  min-width:250px;
}


.bg{
  background: var(--quaternary);
  box-shadow: 1px 1px 3px var(--tertiary);
  padding: 5%;
  border-radius: 5px;
  flex:1;
}

.login-pg-btn{
  flex:1;
  
}


/* VIEW AUTHORS -------------------------------------------------------------------------------------------*/

.user {
  margin: 20px 10px;
  background-color: var(--primary);
  border: 2px solid var(--tertiary);
  padding: 10px;
}

.user-list {
  list-style: none;
}

.username-link {
  color: var(--quaternary);
  text-decoration: none;
}

/* MOBILE RESPONSIVENESS  ---------------------------------------------------------------------------------*/

/* @media screen and (max-width: 300px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
} */
